body {
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    text-align: center;
    font-size: 10vh;
    padding: 0.5em 0;
}

.message {
    padding: 10px;
    text-align: center;
}

.square {
    border: 1px solid black;
    margin: 3px;
    border-radius: 25px;
    box-shadow: 2px 2px;
}

.layoutSetup {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 60vh 1fr;
}

.board {
    display: grid;
    grid-template-rows: 20vh 20vh 20vh;
    grid-template-columns: 20vh 20vh 20vh;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}